* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL */
body{
    font-family: "LXGW WenKai Mono TC", monospace;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.todolist li,
.add-todo input,
.add-todo label,
.buttons i,
.todolist-wrapper > p,
.todolist li input {
    font-size: 1.2rem;
}

input {
    font-family: "LXGW WenKai Mono TC", monospace;
    border: none;
}

/* || UTILS */
.center-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-radius-8{
    border-radius: 8px;
}

.b-radius-12{
    border-radius: 12px;
}

.cursor-pointer{
    cursor: pointer;
}

/* || HEADER */
header {
    padding: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: #7b0eac;
    color: white;
}


/* || MAIN */
.todolist-wrapper,
.completed-tasks,
.completed-tasks hr {
    margin: 0 auto 2rem;
}

ul.todolist {
    list-style-type: none;
    background-color:#D79BE9;
    padding: 1rem;
}

.todolist li {
    margin: .8rem;
    background-color: white;
}

.todolist li p,
.todolist li input{
    font-weight: bold;
    padding: .8rem;
    border-radius: 8px 0 0 8px;
    width: 90%;
}

.todolist li p.done {
    text-decoration: line-through;
    color: grey;
}

.todolist div.change-task{
    width: calc(100% - 80px);
}

.buttons {
    margin-right: .3rem;
}

.buttons i{
    margin: 0 .5rem;
}

.todolist-wrapper > p{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* || ADD-TODO */
.add-todo {
    background-color: #7b0eac;
    color: white;
    padding: 1rem;
}

.add-todo button {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: .5rem;
    color: #7b0eac;
}

#add-task-input{
    margin: 0 1rem;
    flex-grow: 1;
    padding: .3rem .6rem;
    font-weight: bold;
}