<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Todolist</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app"> 
        <header>
            <div class="container">
                <h1>My todolist</h1>
            </div>
        </header>
        <main>
            <div class="container">
                <section class="todolist-wrapper">
                    <ul class="todolist b-radius-12" v-if="(todoList.length > 0)">
                        <li v-for="(item, index) in todoList" :key="item.index" class="center-between b-radius-8">
                            <p v-if="item.toChange === false" class="cursor-pointer" :class="(item.done === true) ? 'done' : '' "  @click="toggleDone(index)"> {{ item.text }} </p>
                            <div v-else class="change-task center-between">
                                <input type="text" v-model="item.text">
                                <i class="fa-solid fa-check cursor-pointer" @click="acceptChanges(index)"></i>
                            </div>
                            <div class="buttons">
                                <i class="fa-solid fa-pencil cursor-pointer" @click="changeTask(index)"></i>
                                <i class="fa-regular fa-trash-can cursor-pointer" @click="removeTask(index)"></i>
                            </div>
                        </li>
                    </ul>
                    <p v-else>There are no tasks yet, add a new one!</p>
                </section>
                <section class="add-todo center-between b-radius-12">
                    <label for="add-task-input">Type a task to add</label>
                    <input type="text" id="add-task-input" class="b-radius-8" v-model="newTaskContent" @keyup.enter="addNewTask(newTaskContent)">
                    <button class="b-radius-8 cursor-pointer" @click="addNewTask(newTaskContent)">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </section>
            </div>
        </main>
    </div>

    <script src="js/script.js"></script>
</body>
</html>